<!DOCTYPE html>
<html>
<body style="font-family: Arial, sans-serif; background-color: rgb(211, 211, 217); margin: 0; padding: 40px 20px;">
    
    <div style="max-width: 600px; margin: 0 auto; background-color: white; border-radius: 10px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); overflow: hidden;">
        
        <div style="background-color: #265d94; color: white; padding: 20px; text-align: center;">
            <h1 style="margin: 0;">QuestLog</h1>
        </div>
                <div style="padding: 30px;">
            <p style="color: #333; font-size: 16px;">Olá, <strong>{{Username}}</strong>,</p>
            
            <p style="color: #333; font-size: 16px; line-height: 1.5;">
                Recebemos uma solicitação para redefinição de senha da sua conta QuestLog.<br>
                Clique no botão abaixo caso deseje redefinir.
            </p>
            
            <div style="text-align: center; margin: 35px 0;">
                <a href="{{LinkDaUrl}}" style="padding: 12px 25px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px; font-weight: bold; display: inline-block;">
                    Redefinir Minha Senha
                </a>
            </div>
            
            <p style="margin-top: 40px; font-size: 12px; color: #999; text-align: center;">
                Se você não solicitou isso, apenas ignore este e-mail.
            </p>
        </div>
        
    </div>

</body>
</html>